@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: linear-gradient(120deg, #2980b9, #482675);
    height: 100vh;
}

.headDashboard{
    font-family: 'Roboto', sans-serif;
    
    
}